* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading {
  padding: 20px;
  text-align: center;
}

.nav-list {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding: 15px 0;
}

.nav-list-item {
  list-style: none;
  margin: 20px;
  text-align: center;
  display: inline-block;
}

main {
  padding: 50px 0;
  width: 200px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
}

.box1 {
  background-color:#e6ffe9;
}

.box2 {
  background-color: #cbffd3;
}

.box3 {
  background-color: #aeffbd;
}

.box4 {
  background-color: #93ffab;
}

.box5 {
  background-color: #f3ffd8;
}

.box6 {
  background-color: #edffbe;
}

.box7 {
  background-color: #effa5;
}

.box8 {
  background-color: ;
}

.box9 {
  background-color: #d9e5ff;
}

.box10 {
  background-color: #bad3ff;
}

.box11 {
  background-color: #a4c6ff;
}

.box12 {
  background-color: #8eb8ff;